/* 
    Created on : 14-jan-2014, 16:22:50
    Author     : Bonnadinho
*/


/* backgound designs */ 

#main-bg 
{
    background:url(../image/Background.png) repeat 0 0;   

}


/* structural css */ 

#container
{	        
    position: relative;   
    top:-20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 10%;
    margin-right: 10%; 
    
}

#header 
{	 
position:relative;	
height: 150px;	
}

#maincontent
{
    position:relative;
    width: 98%; 
    background: #CC0052;
}

#advertisment
{
    position:relative;
    height: 280px;
    width: 98%;
}

/*  Header Designs */ 

#menu-bar {
	height:37px;
	position:absolute;
	right:0;
	top:37px
}
#menu-bar li {
	float:left;
	display:block;
	padding-right:8px;
}
#menu-bar li a.cur, #menu-bar li a.cur strong {
	background:url(../image/menu_bg.png) no-repeat
}
#menu-bar li a {
	float: left;
	height: 37px;
	line-height: 37px;
	padding-left: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF
}
#menu-bar li a strong {
	float:left;
	height:37px;
	padding-right:17px;
	cursor:pointer
}

#menu-bar li a:hover {
	text-decoration:none;
	color:#000000;
}

.link-style {
	display: inline-block;
	padding: 5px 5px;
	background: #4163ae;
	border-radius: 10px 0px 10px 0px;	
}

/* Extra Designs */ 
.title
{
    height:46px;   
    background: #4F5457;
    text-align:center;
    margin-top: -22px;
    color:#fff;
}

#activecenter
{
    margin-left: 35%;
    margin-bottom: 3%;
}

#error
{          
    position:relative;
    margin-bottom: 1%;
    margin-left: 20%;   
    font-size: 25px;
}

#succes
{          
    position:relative;
    margin-bottom: 5%;
    margin-left: 35%;  
    color:#FFFFFF
}
/* Table Settings */ 

.namespan
{
width: 120px;	
height: 30px; 
}

.combospan
{
width:350px;
height:30px;
border-radius:5px;   
}

.datespan
{
width: 200px;	
height: 30px; 
}

.timespan
{
width:150px;
height:30px;
border-radius:5px;   
}

#tablecenter
{
    margin-left: 10%;    
    float: left;
}
#tablecenter2
{
    margin-left: 7%;
    margin-bottom: 10px;
}

 table.alternate_color tr:nth-child(odd) td
 {
   /* styles here */
}
table.alternate_color tr:nth-child(even) td
{
	background:#EEEEE4;  
}
#resultstable
{
	margin-left: 12%;        
	width: 800px;
	text-align:center;
}
#registertable
{
    margin-left: 5%;    
}

#registertable td
{
    
    height: 30px;    
}

.btns {
	height:40px;
	position:absolute;
	left:20px;
	bottom:20px;
        float: left;
}

.btns a {
	display:inline-block;
	height:40px;
	line-height:40px;
	padding:0 15px;
	margin-right:6px;	
        background: #4F5457;
	color:#fff;
	font-weight:bold
}
.addbtns {
	height:40px;
	position:absolute;
	right:20px;
	bottom:20px;
}

.addbtns a {
	display:inline-block;
	height:40px;
	line-height:40px;
	padding:0 15px;
	margin-right:6px;
	background:#4163ae;
	color:#fff;
	font-weight:bold
}

#submit
{
	width:100px;
	height:40px;	
	font-size:20px;	
	font-weight:bold; 	
	float:right;
	background:#4163ae;
	border-radius: 10px 10px 10px 10px ;
}

#reservebutton
{
width:100px;
height:30px;	
font-size:20px;
margin-top: 10px;
}

/* Advert Designs */

.innerAdvert
{
    width:32%;
    height:270px;
    float:left;
    display:inline;
    background:#E6E7E8;
    position:relative;
    margin-right: 1%; 
    text-align: left;
}
.innerAdvert p
{
    color:#000000;
}


.innerAdvertContact
{
    width:34%;
    height:270px;
    float:left;
    display:inline;
    background:#E6E7E8;
    position:relative;   
}


.icon p {
	height:30px;
	padding:0 0 25px 50px;
	font-size:12px;
	line-height:1.2;
	color:#6a7796
}
.icon p img {
	float:left;
	margin-left:-45px
}
.icon p strong {
	display:block;
	color:black;
}

#twitterfeed
{
    width: 35%;
    height: 250px;
    max-height: 300px;
    float: right;
    background:#E6E7E8;
    margin-top: 3%;
}

#reserveertable 
{
    width: 63%;     
    float: left;   
    margin: 1% auto;
}

#reserveertable table
{
    width: 100%;       
}

#filter
{
    width: 33%;
    height: 250px;
    max-height: 300px;
    float: left;
    background:#E6E7E8;
    margin-top: 5%;   
}


/* footer Settings */ 
#footer
{
    position:inherit;	
    width: 98%;
    height: 50px;  
    bottom: 0;   
    /* text settings */
    font-size:10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;    
}

#footer .copyright {
	margin-left:33%;
	color:#FFFFFF
}
#footer .link {
	color:#FFFFFF
}

#footer .links {
	float:right;
}
a {
	color:#4163ae;
	outline:none
}
a:hover {
	text-decoration:none
}

/* ======================*/
/* == For the Gallery ===*/
/* ======================*/

body
{
font-size:10pt;
letter-spacing:1px;
font-family: Helvetica, Arial, sans-serif;
word-spacing: 5px;
letter-spacing:-1px;
color: #515151;
}

#navdiv
{
	text-align: right;
	height:60px;
}

#navdiv ul
{
	list-style-type: none;
	list-style-image: none;
	margin:0 auto 0 auto;
}

#navdiv ul li
{
	float: right;
	margin-right:10px;
	list-style-type: none;
	list-style-image: none;
}

#navdiv ul li a
{
	padding:30px 0 0 0;
	background: #d0d0d0;
	display: block;
	padding-top:10px;
	width: 100px;
	height:50px;
	text-align: center;
	color:#515151;
	text-decoration: none;
}
#navdiv ul li a:hover
{	
	background: #f7f7f7;
}

#navdiv ul li a.selected
{
	padding:30px 0 0 0;
	background: #f7f7f7;
	display: block;
	padding-top:10px;
	width: 100px;
	height:50px;
	text-align: center;
	color:#515151;
	text-decoration: none;
}

#picturelist {
text-align:left;
margin-right:auto;
margin-left:auto;
}

#picturelist li {
list-style:none;
float:left;
margin:42px;
font-weight:bold;
color:#777777;
}

#picturelist img{
display:block;
border:2px solid gray;
}

#picturelist img:hover{
border:2px solid #515151;
}

#picturelist a{
color:#777777;
text-decoration:none;
}

#picturelist a:hover{
color:#999999;
}

/*============ 
 * CSS for the ADMIN
 * =========== */

/* Combinned with id=Content */

#contentadmin
{
    position:relative;
    width: 100%;   
    top: -55px;
    border-radius:25px 25px 0px 0px;
}

#overzichtcontent
{
    position:relative;
    width: 70%;
    margin: 3% auto;     
}

#overzichtcontent table
{
    width: 100%;
    border: 3px solid;  
}
#overzichtcontent table,th ,td
{
    text-align: center;
}

#titleadmin
{
    height:46px;   
    background: #4F5457;
    text-align:center;
    margin-top: -22px;
    color:#fff;
    border-radius:25px 25px 0px 0px;
    letter-spacing:5px; 
    word-spacing: 5px;
}

#navigation
{
    position: relative; 
    height: 35px;   
    border: 5px auto black ;  
    background: #fff;
    top: 0;
    border-radius:0px 0px 25px 25px;
   
}

#btnholder
{  
    position: absolute;        
    height: 35px;     
    margin-left: 13%; 
    margin-right: 10%;     
    width: 80%;
    top: 0;    
}
.navbtns
{  
    position: relative;
    width: 14%;
    height: 35px;    
    background: #4F5457;
    text-align:center;  
    color:#fff;
    float: left; 
    font-size:15px;	
    line-height:35px;
    margin-right: 1px;
}
.navbtns:hover
{      
    background: #242220;
    cursor:pointer;    
}
 
.nameSpan h1
{
	text-align:center;
	position:relative;	
        font-size:60pt;
        letter-spacing:15px; 
        line-height: 85%;
}

.nameSpan h1:hover
{
     cursor:pointer;  
}
.nameSpan 
{       
	width:100%;
	height:150px;
	background:#FFF;
        top: -50px;      
}

 /* Effect for the nameSpan this is only displayed to the ADMIN */

.effect
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            margin-bottom: 10px;
}
.effect:before, .effect:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
    margin-bottom: 10px;
}

#skinDisplay
{
    position:relative;
    width: 45%;  
    float: left ;   
    border: 1px solid;  
    margin-top: 5px;
}

iframe
{   
    width: 90%;     
    border: 1px solid;     
    margin: 10px auto;
    margin-left: 5%;
    margin-right: 5%;
}

#skinSettings
{
    position:relative;
    width: 45%;  
    float: right ;   
    border: 1px solid;   
    margin-top: 5px;
}

.adjust
{   
    width: 90%;     
    border: 1px solid;     
    margin: 10px auto;
    margin-left: 5%;
    margin-right: 5%;
}

/*  gallery css */
div.img
{
  margin: 5px;
  padding: 5px; 
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}	
div.img img
{
  display: inline;
  margin: 5px;
  
}
div.img a:hover img {border: 1px solid #0000ff;}
div.desc
{
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}