@import 'reset.css';
body 
{
	font:400 12px/1.5  Arial, Helvetica, sans-serif;
}

h1
{
	font-size:30px;
	color:#fff;
	margin:10px;
}

p
{
	color:#fff;
	font-size:15px;	
}

/*Header style*/
#header {
	height:110px;
	position:relative
}
#twee-kolommen {
	overflow: hidden;
	width: 800px;
	padding: 30px 0px;
	border-bottom: 1px solid #FFFFFF;
}

#twee-kolommen #kol1 {
	float: right;
	width: 400px;
	color: #000000;
}

#twee-kolommen #kol2 {
	float: left;
	width: 400px;
}
#twee-kolommen h2 {
	padding: 0px 0px 20px 0px;
	color: #000000;
}

#twee-kolommen .text-style {
	padding-bottom: 10px;
	border: 10px solid #000000;
	text-align: center;
	font-size: 20px;
}

#logo {
	width:195px;
	height:60px;
	position:absolute;
	left:20px;
	top:27px;
}
#main-menu {
	height:37px;
	position:absolute;
	right:0;
	top:37px
}
#main-menu li {
	float:left;
	display:block;
	padding-right:8px;
}
#main-menu li a.cur, #main-menu li a.cur strong {
	background:url(../image/menu_bg.png) no-repeat
}
#main-menu li a {
	float: left;
	height: 37px;
	line-height: 37px;
	padding-left: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF
}
#main-menu li a strong {
	float:left;
	height:37px;
	padding-right:17px;
	cursor:pointer
}

#main-menu li a:hover {
	text-decoration:none;
	color:#000000;
}
.main-bg {
	background:url(../image/Background.png) repeat 0 0
}
.main-wrap {
	background:url(../image/Background.png) repeat-x;
	padding-bottom:20px;
}
.mod-con {
	width:950px;
	margin:0 auto
	
}
.link-style {
	display: inline-block;
	padding: 5px 5px;
	background: #4163ae;
	border-radius: 10px 0px 10px 0px;	
}
.slide-box {
	height:383px;
	position:relative;
	background:#4163ae;
	
}
.slide-player {
	width:950px;
	height:340px;
	position:relative;
}
.slide-player li {
	width:930px;
	height:320px;
	position:absolute;
	background:#fff;
	padding:10px;
	left:0;
	top:0;
	display:none
}
.slide-player li.selected {
	display:block
}
.slide-menu {
	height:43px;
	background:url(../image/scroll_shadow.png) no-repeat 0 center;
	text-align:center;
}
.slide-menu a {
	display:inline-block;
	width:14px;
	height:14px;
	line-height:0;
	font-size:0;
	overflow:hidden;
	background:url(../image/scroll_btn.png) no-repeat 0 0;
	margin:8px 3px 0;
}
.slide-menu a.selected {
	background-position:right 0;
}
#main {
	background:url(../image/background.jpg) repeat;
	padding:20px 0
}
#main .container {
	margin:0 20px;
	background:#fff
}
/*Homepage style*/

#home-page #home-con li {
	width:290px;
	height:370px;
	float:left;
	display:inline;
	margin-left:20px;
	background:#FFF;
	position:relative
}
#home-page .title-nav {
	height:46px;
	line-height:46px;
	background:url(../image/title_nav_bg.png) repeat-x

	
}
#home-page .title-nav h2 {
	font-size:20px;
	padding-left:46px;
}
.title-nav h2 {
	height:100%;
	color:#FFFFFF;
	float:left
}

#home-page #home-con .con {
	padding:20px;
}
#home-page #home-con .con h3 {
	font-size:18px;
	color:#666;
	margin-top:15px;
}
#home-page #home-con .con p {
	font-size:14px;
}
#home-page #home-con .btns {
	height:40px;
	position:absolute;
	left:20px;
	bottom:20px;
}
#home-page #home-con .btns a {
	display:inline-block;
	height:40px;
	line-height:40px;
	padding:0 15px;
	margin-right:6px;
	background:#4163ae;
	color:#fff;
	font-weight:bold
}
#home-page #home-con .contact .con p {
	height:30px;
	padding:0 0 25px 50px;
	font-size:12px;
	line-height:1.2;
	color:#6a7796
}
#home-page #home-con .contact .con p img {
	float:left;
	margin-left:-45px
}
#home-page #home-con .contact .con p strong {
	display:block;
	color:black;
}

#sub-page .main-con {
	width:599px;
	float:left;
	padding:11px 22px;
}
#sub-page .main-con .title-nav {
	height:35px;
	line-height:35px;
	padding-bottom:1px;
	background:url(../image/dashes_h_bg.png) repeat-x 0 bottom;
	margin-bottom:20px
}
#sub-page .main-con .title-nav h2 {
	font-size:22px;
	padding-left:35px;
	color:#eef0f5 
}

/* Content */
#table
{
	margin-left: 40px;
}

#resultstable
{
	margin: 5%;
	width: 800px;
	text-align:center;
}

#option
{
	width:350px;
	height:30px;
	border-radius:5px;
}

#combobox
{
	margin-right: 5px;
	height:30px;
	width:200px;
}
 /* buttons decorations */ 
#submit
{
	width:100px;
	height:40px;	
	font-size:20px;	
	font-weight:bold; 	
	float:right;
	background:#4163ae;
	border-radius: 10px 10px 10px 10px ;
}

#back
{
	display: inline-block;
	height: 3em;
	padding: 0 0.7em 0 1.4em;	
	border-radius: 3em 0.4em 0.4em 3em / 1.5em 0.4em 0.4em 1.5em;	
	line-height:30px;
    font-weight:bold; 
	background:#4163ae;
}

#forward 
{
	display: inline-block;
	height: 3em;
	padding: 0 0.7em 0 1.4em;		
	border-radius: 0.4em 3em 3em 0.4em / 0.4em 1.5em 1.5em 0.4em;	
	line-height:30px;
    font-weight:bold; 
	background:#4163ae;
	float:right;
}

 /* buttons decorations ended */ 

 /* table designs */ 
  
 .roll-space1
{
	width: 150px;	
	height: 35px;
}

.roll-space2
{
	width: 350px;	
	height: 33px;
}

.space
{	
	height: 30px;
}

table
{
	margin: 10px;	
}
 
 table.alternate_color tr:nth-child(odd) td
 {
   /* styles here */
}
table.alternate_color tr:nth-child(even) td
{
	background:#EEEEE4;  
}

/* Footere css */ 
.footer-wrap {
	background:#4163ae;
	border-top:1px solid #181f31;
	margin-top:1px;
	color:#999
}
#footer {
	padding:20px 0 50px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif
}
#footer .copyright {
	margin-left:33%;
	color:#FFFFFF
}
#footer .link {
	color:#FFFFFF
}

#footer .links {
	float:right;
}
a {
	color:#4163ae;
	outline:none
}
a:hover {
	text-decoration:none
}

/* Register Dialog */

.textbox
{
	height:30px;
	border-radius: 2px;
	width : 250px;
	margin-right: 5px;
	
}
.wide
{
	width: 250px;	
	height: 40px;
	margin-top:5px;
}